{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block body %}


<img src="https://wien.info/resource/image/289868/Header/1600/440/64a025d26a5532040f5211518f1471e0/Zq/2-cellistin-balletttaenzerin-40040-40490.jpg" alt="alt" width="100%" heigh="200px">


    <h1 class="text-center">Events in <img src="https://www.wien.info/assets/image/logos/Logo_en_mit-Claim.svg"alt="alt" width="10%" heigh="20px" ></h1>
   
        <div class="container row  content ">
  
        {% for event in events %}

<div class="<div class=' col-lg-3 col-md-4 col-sm-12 shadow bg-body rounded content m-5 ' style='width: 20rem" >
  <img  src="{{ event.image }}"  class='card-img-top' alt='...'height='200' >
  <div class="card-body  text-center"> 
    <a class="card-title a1" href="{{ path('events_show', {'id': event.id}) }}" class="card-title"> {{ event.name }}</a>
     <h4 class="card-type">{{ event.typeEvent }}</h4>
      <h6 class="card-type"> {{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</h6>
    
  </div>


{# 
   <div class="footer">
    
    </div> #}
    </div>

   


        {% else %}
            <div>
               no records found
            </div>
        {% endfor %}
    </div>

 {#   <a href="{{ path('events_new') }}">Create new</a>  #}
{% endblock %}
